@font-face {
  font-family: "Avenir";
  src: url("../public/AvenirNextCyr-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  position: fixed;
  left: 50%;
  right: 50%;
  width: fit-content;
  margin: 55px auto 0;
  user-select: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px 32px;

  background-color: #fff;
  border-radius: 8px;
  color: #1e1f46;
  border-color: #3498db;
  box-shadow: 0 0 10px 0 #3237ff inset, 0 0 10px 4px #3237ff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  font-family: "Avenir", Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.selectors {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 12px;
}

.title {
  font-family: "Avenir", Roboto, sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .00625em;
  font-weight: 500;
  color: #3237ff;
}

.selector {
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #3237ff;
  border-radius: 8px;
  font-family: "Avenir", Roboto, Arial, sans-serif;
  text-align: center;
}

option {
  font-family: "Avenir", Roboto, Arial, sans-serif;
}
